@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-white;
  }
}

.swiper-wrapper {
  padding-top: 15px;
  padding-bottom: 15px;
}

.swiper-scrollbar-drag {
  background: #8c8c8c !important;
  cursor: pointer;
}
