:root {
  --main-padding-y: 1.25rem;
  --header-height: 5rem;
  --header-margin-bottom: 1.25rem;
  --header-total-height: (var(--main-padding-y) * 2) + var(--header-height) + var(--header-margin-bottom);
  --tab-height: 3rem;
  --body-height: calc(100dvh - (var(--main-padding-y) * 2));
  --main-height: calc(100dvh - var(--header-total-height));
  --my-contents-height: calc(100dvh - (var(--header-total-height) + var(--tab-height)));
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-white;
  }
  input {
    @apply text-black;
  }
}

.swiper-wrapper {
  padding-top: 15px;
  padding-bottom: 15px;
}

.swiper-scrollbar-drag {
  background: #8c8c8c !important;
  cursor: pointer;
}
